{{ define "body_classes" }}single{{ end }}

{{- define "subheader" }}
{{- end }}

{{- define "content" }}
  {{ .Content }}
  {{ with (.Resources.GetMatch "investments.html") }}
    <div class="investments">
      {{ .Content | safeHTML }}
    </div>
  {{ end }}
<p>Portions of this page were created using generative language model technology. We do our best to fact-check all information represented here. Please email <a href="mailto:hello@tradenotwar.info">hello@tradenotwar.info</a> with any corrections.</p>
{{- end }}

